body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto", "Verdana", sans-serif;
  color: #000000;
  background-color: #E3E5E1;

}

.wrapper {
  background: url(../img/bgimage.png) no-repeat 0 0;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 0;

  background: url(../img/office.png) no-repeat 700px 120px;

}

.about-us {
  width: 500px;
  min-height: 400px;
  padding-left: 90px;
  padding-top: 150px;

}

.about-us h1 {
  margin: 0;
  margin-bottom: 80px;

  font-size: 65px;
  line-height: 65px;
  color: #6C8474;
}

.btn {
  position: relative;

  display: block;
  width: 330px;
  height: 80px;
  margin: 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #F3F3F3;
  background-color: #6C8474;
  border: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
  border-radius: 50px;
}

.btn:hover {
  background-color: white;
  color: #6C8474;
  border: none;
}

.btn:active {
  background-color: #D9D9D9;
}

#modal {
  position: fixed;
  top: 40px;
  left: 350px;
  right: 350px;
  z-index: 150;
  display: none;
}

#filter {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.53);
  mix-blend-mode: normal;
  z-index: 100;
  display: none;
}

.modal-bg {
  width: 740px;
  background: #FFFFFF;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
}

.modal_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  color: #000000;
  mix-blend-mode: normal;
  margin: 80px auto;
}

.modal_input {
  background: #F9F9F9;
  border: 1px solid #C4C4C4;
  border-radius: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  padding: 19px;
  color: #7B7878;
  margin-right: 95px;
  margin-left: 95px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 510px;
}

.modal_btn {
  position: relative;

  display: block;
  width: 227px;
  height: 58px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  align-items: center;

  color: #F3F3F3;
  background-color: #6C8474;
  border: none;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.28);
  border-radius: 50px;
}

.modal_btn:hover {
  background-color: white;
  color: #6C8474;
  border: none;
}

.modal_btn:active {
  background-color: #D9D9D9;
}

.results {
  font-weight: 400;
  font-size: 32px;
  line-height: 23px;
  margin-top: 100px;
  text-align: center;
}